@charset "utf-8";
/* CSS Document */
body {
	/*background-image: url("../img/bg.png");*/
	background-color: #70a30a;
	
	background-attachment: fixed;
	
	color: #FFF;
	font-size: 130%;
}

.handKarte {
	margin-left: -5%;
	width: 9%;
	cursor: pointer;
}